body {
  margin: 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "grid_header"
    "grid_nav"
    "grid_main";
}
.grid_header {
  grid-area: grid_header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
  margin: 0px 0px 0px 0px;
}
h1 {
  font-weight: 600;
  font-size: x-large;
  margin-right: 1em;
}
.noti-bell {
  width: 25px;
  margin: 17px 0px auto 20px;
  padding: 2px;
  border-right: solid 1px #333;
}
.noti-bell:hover {
  background-color: #70c66b;
  border-radius: 10px;
}
.noti-icon {
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #70c66b;
  margin-left: 60%;
}
#vic_pic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px 0px auto 0px;
}
.student_name {
  font-size: medium;
  margin-top: 19px;
}
.grid_nav {
  display: flex;
  justify-content: space-between;
  grid-area: grid_nav;
  background-color: darkgreen;
  padding: 15px 30px 5px 30px;
  height: 35px;
}
.nav_bar_img {
  width: 25px;
}
.nav_bar_img:hover {
  background-color: #70c66b;
  border-radius: 10px;
  padding: 5px;
}

.grid_main {
  grid-area: grid_main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "main-header"
    "alert-container"
    "traffic"
    "daily"
    "mobile"
    "social"
    "members"
    "activity"
    "message"
    "settings";
}
.main-header {
  grid-area: main-header;
  display: flex;
  flex-direction: row;
}
.tab {
  margin: 15px 0px auto 28px;
}
.text-area {
  height: 30px;
}
.alert-container {
  grid-area: alert-container;
}
.alert-banner {
  display: flex;
  flex-direction: row;
  background-color: green;
  border-radius: 10px;
  margin: 0px 15px 0px 15px;
  font-size: small;
}
.alert-banner-close {
  position: absolute;
  right: 30px;
}
.alert-banner-close:hover {
  background-color: #70c66b;
  border-radius: 5px;
  padding: 5px;
}
.traffic {
  grid-area: traffic;
  padding-left: 5px;
  border-bottom: solid 1px grey;
  padding-bottom: 20px;
}

.traffic-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
.traffic-nav-link {
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
}
.traffic-nav-link:hover {
  background-color: #70c66b;
  border-radius: 5px;
}
.daily {
  grid-area: daily;
  padding-left: 5px;
  border-bottom: solid 1px grey;
  padding-bottom: 20px;
}
.mobile {
  grid-area: mobile;
  padding-left: 5px;
  border-bottom: solid 1px grey;
  padding-bottom: 20px;
}
.social {
  grid-area: social;
  border-bottom: solid 1px black;
}
.social-container {
  display: flex;
  flex-direction: row;
  border: solid 1px gray;
  background-color: #ccc7c7;
  border-radius: 15px;
  margin: 15px;
}
.social-image {
  width: 55px;
  height: 55px;
  background-color: #000000;
  border-radius: 40px;
  text-align: center;
  margin-top: 15px;
  margin-left: 20px;
}
.svg-social {
  width: 40px;
  height: 40px;
  padding-top: 7px;
  fill: #09ff01;
}
.svgimg {
  width: 30px;
  padding-top: 13px;
}
.social-text {
  margin: 10px auto auto 30px;
  font-size: x-large;
  font-weight: 800;
}
.social-name {
  margin: 0px;
  font-weight: 400;
}
.social-number {
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 0px;
}
.members,
.activity {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.member-title {
  padding-right: 50%;
}
.members {
  grid-area: members;
}
.profile-image {
  width: 80px;
  border-radius: 45px;
  margin-top: 15px;
}
.date {
  margin-top: 5px;
}
.names {
  margin-bottom: 0px;
  margin-top: 25px;
}
.act-text {
  margin-bottom: 0px;
  font-weight: 900;
}
.hour {
  margin-top: 5px;
}
.members-container {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid 1px black;
}

.activity {
  grid-area: activity;
}
.activity-container {
  border-bottom: solid 1px black;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dates {
  display: none;
}
.message {
  grid-area: message;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  border-bottom: solid 1px black;
}
.form-field {
  background-color: rgb(228, 224, 224);
  border-radius: 5px;
  height: 50px;
  width: 98%;
  margin-bottom: 15px;
  font-size: larger;
}
.form-area {
  background-color: rgb(228, 224, 224);
  border-radius: 5px;
  height: 150px;
  width: 98%;
  font-size: x-large;
}
#send {
  background-color: #70c66b;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
}
.button-primary:hover {
  background-color: green;
}
.settings {
  grid-area: settings;
  margin-left: 10px;
  margin-right: 10px;
}
.switch-light {
  margin-bottom: 15px;
  width: 100%;
}
.tog-swt {
  width: 80px;
  margin-left: 75%;
}
.swt-title {
  margin-top: 80px;
}

#timezone {
  width: 100%;
}
#save {
  height: 50px;
  width: 46%;
  border-radius: 10px;
  background-color: #70c66b;
  margin-right: 15px;
}
#cancel {
  height: 50px;
  width: 46%;
  border-radius: 10px;
  background-color: gray;
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "grid_header grid_header"
      "grid_nav grid_main";
  }
  .grid_header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 60px;
  }
  h1 {
    position: absolute;
    left: 20px;
  }
  .student_name {
    padding-left: 15px;
    padding-right: 15px;
  }
  #vic_pic {
    margin-left: 10px;
    margin-top: 10px;
  }
  .noti-bell {
    padding-right: 10px;
  }
  .grid_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
    padding-left: 12px;
    padding-top: 10px;
  }
  .nav_bar_img {
    width: 30px;
    padding-bottom: 20px;
    position: fixed;
  }
  #home_button {
    padding-top: 0px;
  }
  #charts_button {
    padding-top: 60px;
  }
  #members_button {
    padding-top: 60px;
  }
  #settings_button {
    padding-top: 60px;
  }
  .grid_main {
    grid-template-columns: 50%;
    grid-template-rows: auto;
  }
  .main-header {
    grid-area: main-header;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-left: 15px;
  }
  .tab {
    width: 100%;
  }
  .text-area {
    width: 95%;
  }
  .alert-container {
    grid-area: alert-container;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .traffic {
    grid-area: traffic;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  .traffic-nav {
    justify-content: right;
    padding-right: 15px;
  }
  .daily {
    grid-area: daily;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .mobile {
    grid-area: mobile;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .social {
    grid-area: social;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
  .sc-top {
    display: flex;
    flex-direction: row;
  }
  .social-container {
    width: 205px;
  }
  .social-title {
    padding-left: 18px;
  }
  .members {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }
  .member-title {
    display: flex;
    justify-content: left;
    padding-left: 20px;
  }
  .members-container,
  .activity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .profile-image {
    margin: 15px 25px 15px 5px;
  }
  .members-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    left: 22%;
    margin-top: 11px;
  }
  .date {
    margin-top: 50px;
    padding-right: 20px;
  }
  .activity {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }
  .activity-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    left: 22%;
    margin-top: 18px;
  }
  .dates {
    display: flex;
    padding-top: 30px;
    padding-right: 15px;
  }
  .message {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }
  .settings {
    grid-column: 1 / 3;
    grid-row: 9 / 10;
  }
  .settings-button {
    display: flex;
    justify-content: center;
  }
  .tog-swt {
    width: 120px;
  }

  .widget-container-full,
  .widget-container-half {
    width: 95vw;
  }
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "grid_header grid_header"
      "grid_nav grid_main";
  }
  .text-area {
    width: 97%;
  }
  .daily {
    border-right: solid 1px black;
  }
  .social-title {
    margin-bottom: 0px;
  }
  .social-container {
    width: 30%;
  }
  .profile-image {
    width: 60px;
  }
  .members {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
  }
  .members-text {
    left: 14%;
    margin-top: 6px;
  }
  .activity {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    border-bottom: solid 1px black;
  }
  .activity-text {
    position: absolute;
    left: 62%;
    margin-right: 30px;
    margin-top: 13px;
    padding-right: 15px;
  }
  .dates {
    margin-top: 40px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .message {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .settings {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }
  .switch-light {
    margin-bottom: 33px;
  }
  #timezone {
    margin-bottom: 33px;
  }
}
/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* supported values are px, rem-calc, em-calc
 */
/* imports
 */
/* Functions
 */
/* Shared
 */
/* Hide by default
 */
.switch-toggle a,
.switch-light span span {
  display: none;
}

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {
  /* Checkbox
 */
  .switch-light {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */
  }
  .switch-light::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-light *,
  .switch-light *:before,
  .switch-light *:after {
    box-sizing: border-box;
  }
  .switch-light a {
    display: block;
    transition: all 0.2s ease-out;
  }
  .switch-light label,
  .switch-light > span {
    /* breathing room for bootstrap/foundation classes.
     */
    line-height: 2em;
  }
  .switch-light input:focus ~ span a,
  .switch-light input:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    /* Chrome/Opera gets its native focus styles.
     */
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .switch-light input:focus ~ span a,
  .switch-light input:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

@media only screen {
  /* don't hide the input from screen-readers and keyboard access
 */
  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 3;
  }
  .switch-light input:checked ~ span a {
    right: 0%;
  }
  /* inherit from label
 */
  .switch-light strong {
    font-weight: inherit;
  }
  .switch-light > span {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 2em;
    /* overwrite 3rd party classes padding
   * eg. bootstrap .alert
   */
    padding: 0;
    text-align: left;
  }
  .switch-light span span {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    user-select: none;
  }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
  }
  /* bootstrap 4 tweaks
*/
  .switch-light.row {
    display: flex;
  }
  .switch-light .alert-light {
    color: #333;
  }
  /* Radio Switch
 */
  .switch-toggle {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */
    /* For callout panels in foundation
  */
    padding: 0 !important;
    /* 2 items
   */
    /* 3 items
   */
    /* 4 items
   */
    /* 5 items
   */
    /* 6 items
   */
  }
  .switch-toggle::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-toggle *,
  .switch-toggle *:before,
  .switch-toggle *:after {
    box-sizing: border-box;
  }
  .switch-toggle a {
    display: block;
    transition: all 0.2s ease-out;
  }
  .switch-toggle label,
  .switch-toggle > span {
    /* breathing room for bootstrap/foundation classes.
     */
    line-height: 2em;
  }
  .switch-toggle input:focus ~ span a,
  .switch-toggle input:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    /* Chrome/Opera gets its native focus styles.
     */
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .switch-toggle input:focus ~ span a,
  .switch-toggle input:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

@media only screen {
  .switch-toggle input {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  .switch-toggle input + label {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    padding: 0 0.5em;
    margin: 0;
    text-align: center;
  }
  .switch-toggle a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(4),
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
    width: 50%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(4)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 50%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(6),
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(6)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 33.33%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(6)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 66.66%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8),
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
    width: 25%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(8)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 25%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(8)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 50%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(8)
    ~ input:checked:nth-child(7)
    + label
    ~ a {
    left: 75%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10),
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
    width: 20%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 20%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 40%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(7)
    + label
    ~ a {
    left: 60%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(9)
    + label
    ~ a {
    left: 80%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12),
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
    width: 16.6%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 16.6%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 33.2%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(7)
    + label
    ~ a {
    left: 49.8%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(9)
    + label
    ~ a {
    left: 66.4%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(11)
    + label
    ~ a {
    left: 83%;
  }
  /* Candy Theme
 * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
 * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
 */
  .switch-toggle.switch-candy,
  .switch-light.switch-candy > span {
    background-color: #2d3035;
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3),
      0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .switch-light.switch-candy span span,
  .switch-light.switch-candy input:checked ~ span span:first-child,
  .switch-toggle.switch-candy label {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e;
  }
  .switch-light.switch-candy input ~ span span:first-child,
  .switch-light.switch-candy input:checked ~ span span:nth-child(2),
  .switch-candy input:checked + label {
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .switch-candy a {
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
      inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: #70c66b;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  }
  .switch-candy-blue a {
    background-color: #38a3d4;
  }
  .switch-candy-yellow a {
    background-color: #f5e560;
  }

  /* Selected ON switch-light
*/
  .switch-holo.switch-light input:checked ~ span a {
    background-color: #0e88b1;
  }
  .switch-holo.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .switch-holo.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
  }
  /* Material Theme
 */
  /* switch-light
 */
  .switch-light.switch-material a {
    top: -0.1875em;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.14),
      0 0.1875em 0.125em -0.125em rgba(0, 0, 0, 0.2),
      0 0.125em 0.25em 0 rgba(0, 0, 0, 0.12);
    transition: right 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch-material.switch-light {
    overflow: visible;
  }
  .switch-material.switch-light::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-material.switch-light > span {
    overflow: visible;
    position: relative;
    top: 0.1875em;
    width: 3.25em;
    height: 1.5em;
    min-height: auto;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.26);
  }
  .switch-material.switch-light span span {
    position: absolute;
    clip: rect(0 0 0 0);
  }
  .switch-material.switch-light input:checked ~ span a {
    right: 0;
    background: #3f51b5;
    box-shadow: 0 0.1875em 0.25em 0 rgba(0, 0, 0, 0.14),
      0 0.1875em 0.1875em -0.125em rgba(0, 0, 0, 0.2),
      0 0.0625em 0.375em 0 rgba(0, 0, 0, 0.12);
  }
  .switch-material.switch-light input:checked ~ span {
    background: rgba(63, 81, 181, 0.5);
  }
  /* switch-toggle
 */
  .switch-toggle.switch-material {
    overflow: visible;
  }
  .switch-toggle.switch-material::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-toggle.switch-material a {
    top: 48%;
    width: 0.375em !important;
    height: 0.375em;
    margin-left: 0.25em;
    background: #3f51b5;
    border-radius: 100%;
    transform: translateY(-50%);
    transition: transform 0.4s ease-in;
  }
  .switch-toggle.switch-material label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em;
  }
  .switch-toggle.switch-material label:before {
    content: "";
    position: absolute;
    top: 48%;
    left: 0;
    display: block;
    width: 0.875em;
    height: 0.875em;
    border-radius: 100%;
    border: 0.125em solid rgba(0, 0, 0, 0.54);
    transform: translateY(-50%);
  }
  .switch-toggle.switch-material input:checked + label:before {
    border-color: #3f51b5;
  }
  /* ripple
 */
  .switch-light.switch-material > span:before,
  .switch-light.switch-material > span:after,
  .switch-toggle.switch-material label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background: #3f51b5;
    opacity: 0.4;
    margin-left: -1.25em;
    margin-top: -1.25em;
    transform: scale(0);
    transition: opacity 0.4s ease-in;
  }
  .switch-light.switch-material > span:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -1.25em;
  }
  .switch-toggle.switch-material label:after {
    width: 3.25em;
    height: 3.25em;
    margin-top: -0.75em;
  }
  @keyframes materialRipple {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  .switch-material.switch-light input:not(:checked) ~ span:after,
  .switch-material.switch-light input:checked ~ span:before,
  .switch-toggle.switch-material input:checked + label:after {
    animation: materialRipple 0.4s ease-in;
  }
  /* trick to prevent the default checked ripple animation from showing
 * when the page loads.
 * the ripples are hidden by default, and shown only when the input is focused.
 */
  .switch-light.switch-material.switch-light input ~ span:before,
  .switch-light.switch-material.switch-light input ~ span:after,
  .switch-material.switch-toggle input + label:after {
    visibility: hidden;
  }
  .switch-light.switch-material.switch-light input:focus:checked ~ span:before,
  .switch-light.switch-material.switch-light
    input:focus:not(:checked)
    ~ span:after,
  .switch-material.switch-toggle input:focus:checked + label:after {
    visibility: visible;
  }
}

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * http://css-tricks.com/webkit-sibling-bug/
 */

/*# sourceMappingURL=toggle-switch.css.map */
