body {
  margin: 0;

}
header {
  display: flex;
  background-color: green;
  height: 80px;
  width: 100vw;
 
}
nav {
  display: flex;
  flex-direction: column;
}
.nav_bar {
  background-color: darkgreen;
}

#vic_pic {
  width: 60px;

}

.nav_bar_img {
  width: 40px;
}

